body {
    margin-top:     2em;
    font-family:    "Helvetica Neue", sans-serif;
}
.card {
    max-width:  40em;
    margin:     1em auto 4em auto;
    padding:    2em;
    box-shadow: 0 4px  8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-origin: center bottom;
    transform: perspective(1000px) rotateX(0) translateZ(0);
    will-change: transform, opacity;
}
h1 {
    text-align: center;
}
.holder {
    margin: 0 3em 0 3em;
}
input[type=text] {
    font-size:      1.1em;
    color:          darkblue;
    border-width:   0 0 1px 0;
}
input[type=text]:focus {
    border-color:   orange;
    outline:        transparent none 0;
}
#masterContainer {
    display:        grid;
    grid-column-gap: 0.5em;
    grid-template-columns: 1.7em auto auto;
    margin-bottom:  0.5em ;
}
.detail-form {
    display:        grid;
    grid-column-gap: 0.5em;
    grid-template-columns: 1fr 3fr;
    margin-bottom:  0.5em ;
}
#plus {
    position: relative;
    top: -1em;
}
.delete {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.3em;
}
input.invalid {
    color: red;
}
.selected {
    box-shadow: 0 0 0.2em gold;
}
input.disabled-style {
    opacity: 0.5;
    transform: perspective(300px) rotateX(6deg);
    pointer-events: none;
}
.folded-back {
    opacity: 0.85;
    transform: perspective(1000px) rotateX(-12deg) translateZ(-20px) translateY(10px);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1),
                0 3px 10px 0 rgba(0, 0, 0, 0.09);
    background-color: rgba(250, 250, 250, 0.95);
}